<div class="row">

    <div class="carousel">

      <div class="caption">
      <p id="cHeader">{{courselHeader}} </p>
      <p id="locationHeader"><m class="fa fa-map-marker"></m> {{location.city}}, {{location.state_code}} {{location.postal_code}}</p>
          <div>
                <carousel-button>
                <div (click)="prevImg()" id="prev" >
                    <i class="fa fa-angle-left"></i>
                </div>
                <div (click)="nextImg()" id="next">
                    <i class="fa fa-angle-right"></i>
                </div></carousel-button>
                <!-- <img src="../img/carousel/img1.png" alt="..." id="img-circle"> -->
                <div id=img-circle></div>

          </div>
          <div class="carousel-est">
                <div id="pb">{{resName}}</div>
                <span>{{location.display_address}}</span>
          </div>

          <p><a href="/amenities-lists-page/restaurant/ks/wichita" class="btn btn-list" role="button">
            <span class="content-icon"><i class="fa fa-home" aria-hidden="true"></i></span>
            <span id="STL">See The List</span>
            <i class="fa fa-angle-right"></i>
          </a></p>



       </div>
      </div>


          <div class="media" *ngFor="#service of services">

                <div class="icon-list">
                  <i class="fa fa-fw fa-3x {{service.icon}}" aria-hidden="true"></i>
                </div>

                  <div class="text-content">
                    <p class="text"> {{service.title}}</p>
                    <p class="text1">{{service.total}} neaer this listing</p>
                  </div>
              <div class="see-all">
                <a class="ac-lists-list-view" href="/amenities-lists-page/restaurant/ks/wichita">
                    <span id="SA">See All
                    <w class="fa fa-angle-right"></w>
                    </span>
                </a>
            </div>
          </div>

</div>
