<div class="row">

    <div class="carousel">

      <div class="caption">
        <div>{{courselHeader}}</div>
        <div> <p>{{ListingName}}</p> </div>
          <div>
                <carousel-button>
           <div class="prev">
                <i class="fa fa-angle-left fa-2x"></i>
            </div>
            <div class="next">
                <i class="fa fa-angle-right"></i>
                </div></carousel-button>
            <img src="../img/carousel/img1.png" alt="..." class="img-circle">
          </div>
        <div class="carousel-est">
              <div>Public</div>
              <div><span>129 N Rock Island, </span> <span>Wichita, KS 67202</span></div>
        </div>

        <p><a href="/amenities-lists-page/restaurant/ks/wichita" class="btn btn-list" role="button">
          <span class="content-icon"><i class="fa fa-home" aria-hidden="true"></i></span>
          <span>See The List</span>
          <i class="fa fa-angle-right"></i>
        </a></p>



      </div>
    </div>


          <div class="media" *ngFor="#service of services">

                <div class="icon-list">
                  <i class="fa fa-fw fa-3x {{service.icon}}" aria-hidden="true"></i>
                </div>

                  <div class="text-content">
                    <p class="text"> {{service.title}}</p>
                    <p class="text1">#### neaer this listing</p>
                  </div>
              <div class="see-all">
                <a class="ac-lists-list-view" href="/amenities-lists-page/restaurant/ks/wichita">
                    <span>See All
                    <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
          </div>

</div>
