<div class='nearby-col'>

  <div class="nearby-container">
    <div class="nearby-button"><i class="fa fa-fw fa-angle-up "></i> </div>
      <div *ngFor="#service of services">
                  <div class='nearby'>

                  <span class='icon'>
                    <i class="fa fa-fw fa-2x {{service.icon}}" aria-hidden="true"></i>
                    <p>Nearby
                     {{service.title}}</p>

                  </span>
                  </div>
      </div>
    <div class="nearby-button"><i class="fa fa-fw fa-angle-down"></i></div>
  </div>
</div>



    
